//- index.pug
extends layout

block content
    div(class="jumbotron text-center")
      form(class="center-block", role='form', action="/auth/conyac",method="get", style='max-width: 300px;')
        div.form-group
          span.form-group ENDPOINT: 
          input.form-control(type='text', name="endpoint").form-group
          span.form-group JSON: 
          textarea.form-control(name="txtArea",rows="10",cols="50", style='').form-group
        button.btn.btn-default(type='submit') Submit
      
